/*bgcolor*/
.bcol_theme {
  background-color: $col_theme;
}

.bcol_gray {
  background-color: $col_gray;
}

.bcol_grayLight {
  background-color: $col_grayLight;
}

.bcol_goldLight {
  background-color: $col_goldLight;
}

.bcol_black {
  background-color: $col_black;
}

.bcol_white {
  background-color: $col_white;
}

.bcol_gold {
  background-color: $col_gold;
}

/*color*/
.col_theme {
  color: $col_theme;
}

.col_sub {
  color: $col_sub;
}

.col_black {
  color: $col_black;
}

.col_gray {
  color: $col_gray;
}

.col_grayDark {
  color: $col_grayDark;
}

.col_grayLight {
  color: $col_grayLight;
}

.col_white {
  color: $col_white;
}

/*fill*/
.fill_white{
    fill: $col_white;
}

.fill_theme {
  fill: #ff889c;
}

.fill_sub {
  fill: $col_sub;
}

.fill_gray {
  fill: $col_gray;
}

.fill_grayDark {
  fill: $col_grayDark;
}

.icon_col_1	{
  background-color: #ff7f7f;
  color: $col_white;
}
.icon_col_2	{
  background-color: #ff7fbf;
  color: $col_white;
}
.icon_col_3	{
  background-color: #ff7fff;
  color: $col_white;
}
.icon_col_4	{
  background-color: #bf7fff;
  color: $col_white;
}
.icon_col_5	{
  background-color: #7f7fff;
  color: $col_white;
}
.icon_col_6	{
  background-color: #7fbfff;
  color: $col_white;
}
.icon_col_7	{
  background-color: #7fffff;
  color: $col_white;
}
.icon_col_8	{
  background-color: #7fffbf;
  color: $col_white;
}
.icon_col_9	{
  background-color: #7fff7f;
  color: $col_white;
}
.icon_col_10	{
  background-color: #bfff7f;
  color: $col_white;
}
.icon_col_11	{
  background-color: #ffff7f;
  color: $col_white;
}
.icon_col_12	{
  background-color: #ffbf7f;
  color: $col_white;
}
